[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-pylint = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
nbconvert = "*"
ipykernel = "*"
types-pyyaml = "*"
flake8 = "<5"
rope = "*"
pytest-black = "*"

[packages]
networkx = "*"
pyyaml = "*"
more-itertools = "*"
fastcore = "*"
pydash = "*"

[requires]
python_version = "3.11"
