[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-pylint = "*"
pytest-travis-fold = "*"
pytest-mypy = "*"
coveralls = "*"
pytest-flake8 = "*"
nbconvert = "*"
ipykernel = "*"

[packages]
networkx = "*"
pyyaml = "*"
more-itertools = "*"
fastcore = "*"
iteration-utilities = "*"

[requires]
python_version = "3.8"
