############################################################
#
# Copyright 2017, 2019, 2020, 2021, 2022, 2023, 2024, 2025 Mohammed El-Afifi
# This file is part of processorSim.
#
# processorSim is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# processorSim is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with processorSim.  If not, see <http://www.gnu.org/licenses/>.
#
############################################################
on: [push]

jobs:
  build:
    env:
      # This is where you will need to introduce the Snyk API token created with your Snyk account
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      sarifFile: snyk-code.sarif
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v4.7.1
      with:
        python-version: 3.14.2
    - name: Install uv
      uses: astral-sh/setup-uv@v7.1.6
      with:
        version: 0.9.17
    - name: Install dependencies
      run: uv sync --locked --only-group test
    - name: Set up Snyk CLI to check for security issues
      # Snyk can be used to break the build when it detects security issues.
      # In this case we want to upload the SAST issues to GitHub Code Scanning
      uses: snyk/actions/setup@0.4.0
    - run: uv run ./test.sh

    # Runs Snyk Code (SAST) analysis and uploads result into GitHub.
    # Use || true to not fail the pipeline
    - name: Snyk Code test
      run: snyk code test --sarif > $sarifFile # || true

    - name: Install coveralls dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.2.3

    # Push the Snyk Code results into GitHub Code Scanning tab
    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: ${{ env.sarifFile }}
